<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;">Burn your Belly Fat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-header style="font-size: 25px;"><b>Best Workout for Belly Fat</b></ion-header>
    <p style="text-align: justify; font-size: 20px">
      Trying to lose belly fat is a common problem for both men and women. It is a particularly harmful fat, leading to an increased risk of diseases and adversely affecting your health. The good news is that this can be achieved with hard work, dedication, and a mixture of good diet and exercise. 
    </p>
  </ion-card>
  <ion-card>
    <ion-header style="font-size: 25px;"><b>1. High Knees
    </b></ion-header>
    <p style="text-align: justify; font-size: 20px">
      High knees are fantastic for burning calories, strengthening your abdominal muscles, and improving your cardiovascular endurance. To do these exercises, you need to stand with your feet hip-width apart and bring your knees to your chest, one leg at a time. Continue alternating between legs.
    </p>
    <p style="font-size: 25px; text-align: center;">45-sec high knees (15-sec rest)</p>
    <img src="/assets/highknees.jpg">
  </ion-card>
  <ion-card>
    <ion-header style="font-size: 25px;"><b>2. Low Plank to High Plank</b></ion-header>
    <p style="text-align: justify; font-size: 20px">
      The low plank to high plank workout is an exercise that is bound to get all the muscles in your body working. Planks work your core but can also help to strengthen your abdominal muscles and spine, which in turn benefits posture. Start on all fours, and move into a low plank position, alternating between low and high for an effective workout.
    </p>
    <p style="font-size: 25px; text-align: center;">45-sec low to high plank (15-sec rest)</p>
    <img src="/assets/lowhighplank.png" style="align-items: center;">
  </ion-card>
  <ion-card>
    <ion-header style="font-size: 25px;"><b>3. Half Burpee</b></ion-header>
    <p style="text-align: justify; font-size: 20px">
      A half-burpee does not require you to do push-ups, making it an excellent choice for even beginners who are still building strength and endurance. Burpees are great for burning calories and increasing your metabolism and can help to build strong muscles.
    </p>
    <p style="font-size: 25px; text-align: center;">45-sec half burpees (15-sec rest)</p>
    <img src="/assets/halfburpee.jpg" style="align-items: center;">
  </ion-card>
  <ion-card>
    <ion-header style="font-size: 25px;"><b>4. Toe Touches</b></ion-header>
    <p style="text-align: justify; font-size: 20px">
      Toe touches can help with flexibility in the lower half of your body. You can also do them lying down and reaching upwards by keeping your legs at a 90-degree angle. It is an important way to stretch, even if you are not able to touch your toes. Toe touches can help prevent cramps and muscle spasms.
    </p>
    <p style="font-size: 25px; text-align: center;">45-sec toe touch (15-sec rest)</p>
    <img src="/assets/toetouches.jpg" style="align-items: center;">
  </ion-card>
  <ion-card>
    <ion-header style="font-size: 25px;"><b>5. Squat Jump</b></ion-header>
    <p style="text-align: justify; font-size: 20px">
      Squat jumps are an important workout that requires a lot of power. These explosive movements help to improve strength and burn calories. They can also make you move faster and facilitate your take-off speed and movement when playing sports.
    </p>
    <p style="font-size: 25px; text-align: center;">45-sec squat jumps (15-sec rest)</p>
    <img src="/assets/squatjump.png" style="align-items: center;">
  </ion-card>
  <ion-card>
    <ion-header style="font-size: 25px;"><b>6. Side Plank</b></ion-header>
    <p style="text-align: justify; font-size: 20px">
      Side planks are a fantastic core exercise, helping strengthen your muscles and tone your shoulders, legs, and obliques. In addition to helping you burn calories and shrink your waist circumference, it can also help with lower back pain.
    </p>
    <p style="font-size: 25px; text-align: center;">20 sec side plank each side (15-sec rest)</p>
    <img src="/assets/sideplank.jpg" style="align-items: center;">
  </ion-card>
  <ion-card>
    <ion-header style="font-size: 25px;"><b>7. Alternate Lunges</b></ion-header>
    <p style="text-align: justify; font-size: 20px">
      Alternating lunges require you to bring different legs forward, hence the name, so you are swapping between left and right. It is a fantastic lower body exercise to help strengthen your leg muscles and glutes. It will also help to burn calories.
    </p>
    <p style="font-size: 25px; text-align: center;">45-sec alternate lunges (15-sec rest)</p>
    <img src="/assets/alternatelunges.jpg" style="align-items: center;">
  </ion-card>
  <ion-card>
    <ion-header style="font-size: 25px;"><b>8. Jumping Jacks</b></ion-header>
    <p style="text-align: justify; font-size: 20px">
      Jumping jacks are plyometric exercises and extremely popular because they can be done anywhere and require no equipment. They work on stretching and then shortening your muscles in rapid movements, giving you a full-body workout. The action requires you to stand in a position with your legs spread wide and your hands overhead; you then return to the position with your hands on either side of your body. You can adjust the speed and power.
    </p>
    <p style="font-size: 25px; text-align: center;">45-sec jumping jacks (15-sec rest)</p>
    <img src="/assets/jumpingjacks.jpg" style="align-items: center;">
  </ion-card>
  <ion-card>
    <ion-header style="font-size: 25px;"><b>9. Hip Thrust </b></ion-header>
    <p style="text-align: justify; font-size: 20px">
      A hip thrust is a straightforward exercise that focuses on strengthening the glutes and the hip and quadriceps muscles. It can help the knee joints, promote better balance, and improve movement. It is an excellent way to work the core too.
    </p>
    <p style="font-size: 25px; text-align: center;">45-sec hip thrust (15-sec rest)</p>
    <img src="/assets/hipthrust.jpg" style="align-items: center;">
  </ion-card>
  <ion-card>
    <ion-header style="font-size: 25px;"><b>10. Butt Kicks </b></ion-header>
    <p style="text-align: justify; font-size: 20px">
      Butt kicks are an explosive activity that helps improve your overall speed and will work to strengthen your glutes and hamstring muscles. The exercise will bring your heart rate up and give you an intense workout.
    </p>
    <p style="font-size: 25px; text-align: center;">45 sec butt kicks (15-sec rest)</p>
    <img src="/assets/buttkicks.jpg" style="align-items: center;">
  </ion-card>
  
</ion-content>
