<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lose Weight</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-header style="font-size: 25px;"><b>1. Aerobics Exercises</b></ion-header>
    <p style="font-size: 20px;">Walking is considered one of the best weight loss exercises. Walking at a fast pace is a great exercise for burning calories. An exercise program that puts minimal stress on your joints and can be incorporated into your day-to-day activities.</p>
    <img src="assets/aerobics.jpg">
    <ion-card>
      <ion-header style="font-size:25px"><b>Exercise Pattern</b></ion-header>
  <p style="font-size: 20px; text-align: justify;">Set aside 1 hour of your time and include these exercises in your routine.</p>
    <ul style="font-size: 18px;">
      <li>Start with walking exercise for 15 minutes.</li>
      <li>Increase your pace and start Jogging for the next 15 minutes.</li>
    <li>With a constant increase in pace, run for another 15 minutes.</li>
    <li>Reduce your pace and come back to jogging for 10 minutes.</li>
  <li>Relax your body and slow down your pace and walk for 5 minutes.</li>
  </ul>
</ion-card>
  </ion-card>

  <ion-card>
    <ion-header style="font-size: 23px; text-align: justify;"><b>2. Skipping or Jumping Rope</b></ion-header>
  <p style="font-size: 20px;">Skipping exercise offers a complete body workout and helps increase your muscle strength, metabolism, and burn many calories in a short time. </p>
  <img src="assets/skipping.jpg">
  <ion-card>
    <ion-header style="font-size:25px"><b>Exercise Pattern</b></ion-header>
    <ul style="font-size: 18px;">
      <li>On a flat surface, stand with your back straight.</li>
    <li>Make sure your feet are together and pointing straight.</li>
    <li>Keep your hand straight pointing downwards close to your thighs.</li>
  <li>Jump off the ground and let your rope pass under your feet and bring it back.</li>
  <li>Repeat these steps and increase your jumping speed constantly.</li>
</ul>
  </ion-card>
</ion-card>

<ion-card>
  <ion-header style="font-size: 23px; text-align: justify;"><b>3. Planks</b></ion-header>
  <p style="font-size: 20px;">A workout that seems to be a simple and easy one but it’s quite exhausting and intense. The plank exercise is a great example of the longer you workout the better will be your results. You need to focus on holding your plank position for a longer period to find quick and better results. </p>
  <img src="assets/lowhighplank.png">
</ion-card>
<ion-card>
  <ion-header style="font-size:25px"><b>Exercise Pattern</b></ion-header>
    <ul style="font-size: 18px;">
    <li>Get down into the Push-Up or Standard Plank Position.</li>
    <li>Now bend your right knee and pull it towards your chest.</li>
    <li>Push your right knee back to your initial position.</li>
      <li>Now bend your left knee and get it towards your chest.</li>
  <li>Push your left knee back to your initial position</li>
   <li>Continue the above steps around 20-25 times.</li>
</ul>
</ion-card>

<ion-card>
  <ion-header style="font-size: 23px; text-align: justify;"><b>4. Push-Ups and Pull-Ups</b></ion-header>
  <p style="font-size: 20px;">Push-ups are one of the most popular exercises and it is a workout that can be done at any time, anyplace, and by anyone. Push-ups exercise is very useful for weight loss as it pushes your body away from the ground and exerts energy which in turn burns calories.  </p>
  <img src="assets/pushup.jfif">
</ion-card>
<ion-card>
  <ion-header style="font-size:25px"><b>Exercise Pattern</b></ion-header>
    <ul style="font-size: 18px;">
      <li>Look for anti-slippery and flat surfaces.</li>
      <li>Place your hands facing forward and slightly wider than your shoulder width.</li>
    <li>Set your feet together or slightly apart in a comfortable position. Initially, you can keep your feet further apart until you find a proper balance.</li>
    <li>Now bend your shoulders as low as possible towards the floor and push up back and straighten your arms.</li>
  <li>Repeat these steps for 15 reps and 3 sets.</li>
  </ul>
</ion-card>
<ion-card>
   <p style="font-size: 20px;">Pull-ups focus on several muscle groups that burn more calories as multiple muscles like biceps, triceps, back and core are working together. This workout can aid you to get in shape, increasing your ability to burn fat and boosting your metabolism. To complete a pull-up it nearly takes 15 muscles and the primary muscles are your lats and biceps.</p>
  <img src="assets/pullup.jfif">
</ion-card>
<ion-card>
  <ion-header style="font-size:25px"><b>Exercise Pattern</b></ion-header>
    <ul style="font-size: 18px;">
      <li>Grip the pull-up bar with your arms fully stretched by standing straight.</li>
    <li>Now bend your knees and pull yourself until your chin clears the bar.</li>
    <li>Come back to your original position slowly</li>
    <li>Repeat these steps for 15 reps and 4 sets</li>
  </ul>
</ion-card>

<ion-card>
  <ion-header style="font-size: 23px; text-align: justify;"><b>5. Squats</b></ion-header>
  <p style="font-size: 20px;">Squat exercises are known as muscle strengthening exercises. The main aim of this exercise is to improve the lower part of the body. Squats help burn calories and prevent fat from accumulating in your lower part of the body. This exercise helps improve your mobility and also balance. A beginner should aim for 3 sets of 12-15 reps of at least one type of squat to expect better results.</p>
  <img src="assets/squat.jpg">
</ion-card>
<ion-card>
  <ion-header style="font-size:25px"><b>Exercise Pattern</b></ion-header>
    <ul style="font-size: 18px;">
    <li>Stand straight with your feet wider than your hip width with toes facing front.</li>
    <li>By bending your knees and ankles push your hips back.</li>
  <li>Sit into a squat position by keeping your heels and toes on the ground.</li>
  <li>Keep your knees bent to a 90-degree angle and pose yourself parallel to the floor.</li>
      <li>Straighten your legs by pressing your heels and return to the standing position.</li>
</ul>
</ion-card>

<ion-card>
  <ion-header style="font-size: 23px; text-align: justify;"><b>6. Lunges</b></ion-header>
  <p style="font-size: 20px;">A popular strength training workout that strengthens and tones your lower body and improves overall fitness and athletic performance. Lunges mainly focus on strengthening your back, hips, and legs. </p>
  <img src="assets/lunges.jpg">
</ion-card>
<ion-card>
  <ion-header style="font-size:25px"><b>Exercise Pattern</b></ion-header>
    <ul style="font-size: 18px;">
    <li>Stand straight with your back and abs upright.</li>
    <li>Bend your knee by keeping your right leg in the front.</li>
    <li>Now, bend your knee until your right thigh is parallel to the ground and left one perpendicular.</li>
   <li>Keep your front knee above your heel.</li>
   <li>Come back and bring your feet together.</li>
   <li>Repeat the above steps with your left leg.</li>
   <li>30 reps of alternate lunges are very helpful.</li>
  </ul>
</ion-card>
<ion-card>
  <ion-header style="font-size: 23px; text-align: justify;"><b>7. Yoga</b></ion-header>
  <p style="font-size: 20px;">Yoga, a 5000-year-old transcription has proved to be an effective weight loss therapy. It is believed to be developed by Rishis and Brahmans and has 5 basic principles: Exercise, Diet, Breathing, Relaxation, and Meditation. </p>
  <p style="font-size: 20px;">The combination of Yoga and healthy eating has proven beneficial as it helps to lose weight along with keeping your body and mind healthy. It also improves your mindfulness and relation with your body. You can also lower your blood sugar levels by practising yoga for diabetes. </p>
  <img src="assets/yoga.jfif">
</ion-card>
</ion-content>
