<ion-header [translucent]="true">
  <ion-toolbar>
 <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-header style="font-size: 25px;"><b>Best Workout to build Muscle</b></ion-header>
    <p style="text-align: justify; font-size: 20px">
      You actually don't have to pump iron to get stronger. All you need is yourself and some creativity to get those muscles moving.
    </p>
  </ion-card>

  <ion-card>
    <ion-header style="font-size: 25px; text-align: center;"><b>CHEST</b></ion-header>
  <ion-card>
    <ion-header style="font-size: 20px;"><b>1. Push-up: 3-6 sets of 6-12 reps</b></ion-header>
  <p style="text-align: justify; font-size: 15px;">The push-up is one of the most efficient bodyweight exercises you can do to build strength in your chest and triceps. But it also gives your shoulders, core muscles, lower back, and lower body a workout.</p>
  </ion-card>
  <img src="/assets/pushup.jfif">
<ion-card>
 <p style="text-align: justify; font-size: 15px;"><b>How-to:</b> Lie facedown and place hands on the floor, slightly wider than shoulders. Push up to lift shoulders, torso, and legs until arms are fully extended. Only your hands and toes should be touching the floor. Slowly lower your body until chest almost touches the floor, then repeat.</p>
  </ion-card>

  <ion-card>
  <ion-card>
    <ion-header style="font-size: 20px;"><b>2. Burpee: 6 per minute for 15 minutes</b></ion-header>
  <p style="text-align: justify; font-size: 15px;">Need a more explosive exercise? The burpee may be the ultimate bodyweight exercise mash-up, working your chest, core, arms, back, glutes, and legs for a full-body cardio workout.</p>
  </ion-card>
  <img src="/assets/burpee.png">
<ion-card>
 <p style="text-align: justify; font-size: 15px;"><b>How-to:</b> From a standing position, lower yourself into a squat and put both hands on the floor, just wider than your feet. Jump feet back into a plank position. Do a push-up, returning to the plank position. Draw your legs back up into a squat, then jump up explosively with your hands above your head. Repeat.</p>
  </ion-card>
  </ion-card>

  <ion-card>
    <ion-header style="font-size: 20px;"><b>3. Pull-up: 3 sets of 2-5 reps</b></ion-header>
  <p style="text-align: justify; font-size: 15px;">The pull-up can be intimidating, especially when you’re just starting out. But it’s a great bodyweight exercise to work your shoulders, upper back, and biceps. Start with just a few reps and work your way up as you get stronger.</p>
  </ion-card>
  <img src="/assets/pullup.jfif">
<ion-card>
 <p style="text-align: justify; font-size: 15px;"><b>How-to:</b> Grab the pull-up bar with an overhand grip, wrapping your thumbs around the bar. “Play dead” — start in a dead hang from the bar. Squeeze the bar with your hands and engage the muscles of your upper body and core. Pull up until chin clears the bar. Slowly lower yourself back into the dead-hang position. Repeat.</p>
  </ion-card>
  </ion-card>

  <ion-card>
    <ion-header style="font-size: 25px; text-align: center;"><b>ARMS</b></ion-header>
 <ion-card>
  <ion-header style="font-size: 20px;"><b>1. Plank-up: 3 sets of 5–10 reps</b></ion-header>
  <p style="text-align: justify; font-size: 15px;">Doing any type of plank exercise will make your arms stronger, but doing plank-ups is especially effective for strengthening the triceps and biceps muscles in your arms.</p>
 </ion-card>
 <img src="/assets/lowhighplank.png">
 <ion-card>
  <p style="text-align: justify; font-size: 15px;"><b>How-to:</b>Start in plank position, with elbows and toes on the floor, core engaged, and torso elevated. Raise yourself into a push-up position by extending one arm at a time, keeping your body straight. Lower onto your elbows one arm at a time. Repeat.</p>
 </ion-card>

 <ion-card>
  <ion-header style="font-size: 20px;"><b>2. Triceps dip: 2 sets of 10–12 reps</b></ion-header>
  <p style="text-align: justify; font-size: 15px;">You’ll need a chair, box, ledge, bench, or staircase to do triceps dips. This move will quickly strengthen your triceps (and your pecs!), which tend to need a targeted workout to grow.</p>
 </ion-card>
 <img src="/assets/tricepsdip.png">
 <ion-card>
  <p style="text-align: justify; font-size: 15px;"><b>How-to:</b>Start seated in a chair (or on a step, etc.). Grab the edge of the chair with hands on either side of hips. Lift up and out into a hovering position beyond the chair edge. Extend legs until mostly straight. Slowly lower yourself toward the floor until elbows are roughly parallel with shoulders. Push down into your hands to raise back up until your arms are straight again. Repeat.</p>
 </ion-card>

 <ion-card>
  <ion-header style="font-size: 20px;"><b>3. Inchworm: 3 sets of 4–6 reps</b></ion-header>
  <p style="text-align: justify; font-size: 15px;">This bodyweight move is (almost) as much fun as it sounds. This is one creepy-crawly exercise that will have you feeling like a little kid again while building your triceps, shoulders, chest, abs, glutes, and quads.</p>
 </ion-card>
 <img src="/assets/inchworm.jfif">
 <ion-card>
  <p style="text-align: justify; font-size: 15px;"><b>How-to:</b>Stand with knees slightly bent. Bend at your hips and slowly reach down and touch your toes. Place hands on the floor, then “crawl” them away from your torso until you’re in a plank position. Take insect-size steps forward until feet meet hands. Repeat.</p>
 </ion-card>

 <ion-card>
  <ion-header style="font-size: 25px; text-align: center;"><b>LEGS</b></ion-header>
  <ion-card>
    <ion-header style="font-size: 20px;"><b>1. Step-up: 3 sets of 15 reps (each side)</b></ion-header>
    <p style="text-align: justify; font-size: 15px;">Got a staircase? Or a box? Then you can do this leg workout. Step-ups are a simple beginner exercise that can give you stronger quads, glutes, and hamstrings. Just take one step at a time.</p>
   </ion-card>
   <img src="/assets/stepup.png">
   <ion-card>
    <p style="text-align: justify; font-size: 15px;"><b>How-to:</b>Go to the stairs in your home or, if you don’t have a staircase, place a sturdy box in front of you. Step up onto the box or the first stair with your right foot, then your left. Reverse, stepping back down with right foot, then left. Repeat, switching the leg you start with each time.</p>
   </ion-card>

   <ion-card>
    <ion-header style="font-size: 20px;"><b>2. Lunge: 3 sets of 15 reps (each side)</b></ion-header>
    <p style="text-align: justify; font-size: 15px;">There are dozens of lunge variations you can do, but even just a classic lunge builds up your quads and glutes. Plus, it strengthens your hamstrings.</p>
   </ion-card>
   <img src="/assets/lunges.jpg">
   <ion-card>
    <p style="text-align: justify; font-size: 15px;"><b>How-to:</b>From a standing position, take a big step forward with one leg. Lower your body toward the floor until upper thigh of front leg is nearly parallel to the floor and back knee is just above the floor. Raise up by putting pressure on the heel of your front leg. Repeat by taking that big first step with the opposite leg.</p>
   </ion-card>

   [<ion-card>
    <ion-header style="font-size: 20px;"><b>3. Squat: 3–5 sets of 8–12 reps</b></ion-header>
    <p style="text-align: justify; font-size: 15px;">Squats are popular with weightlifters, which can lead to the misperception that they can be done only with weights. But even squatting with your bodyweight alone can give you strong leg muscles if you do it with good form.</p>
   </ion-card>
   <img src="/assets/squat.jpg">
   <ion-card>
    <p style="text-align: justify; font-size: 15px;"><b>How-to:</b> Stand with feet slightly wider than shoulder width. Extend arms straight with palms facing down. Inhale and push hips back slightly as you bend your knees. Look straight ahead and keep chin up, shoulders upright, and back straight. Squat as low as you comfortably can, aiming to have your hips sink below your knees. Engage your core to push upward explosively from your heels.

    </p>
   </ion-card>]
</ion-card>
  </ion-card>
 
</ion-content>
